.Navbar{
  text-align: center;
 background-color: gray;
}
.Navbar ul{
  display: flex;
  justify-content: flex-end;
}

.Navbar ul li{
  list-style: none;
  padding: 15px;
  border-radius: 5px;
  background-color: aqua;
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
 }
 .Navbar ul li .link{
  text-decoration: none;
 }
.task1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}
.task1 button{
  background-color: rgb(115, 115, 210);
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}
.task1 input{
  padding: 5px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 2px;
}
.task1 div{
  margin-bottom: 20px;
}

.task1 div li{
  list-style: none;
  text-align: start;
  color: white;
}
.task1 div li span{
 color: black;
}
.task2{
  font-size: 20px;
}
.task2 button{
  background-color: rgb(115, 115, 210);
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}

.task3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;

}
.task3 .user{
  border: 1px solid white;
  font-size: 20px;
  text-align: start;
  padding: 10px;
}
.task3 input{
  padding: 5px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 2px;
}
.task3 button{
  background-color: rgb(115, 115, 210);
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}